body { 
	padding-top: 70px;
	background:url('/springapp/resources/images/textureBackground.png') repeat 0 0;  
}

.mcapp-navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
}

.mcapp-header {
	position: relative;
}

.navbar-toggle .mcbar {
	  position: relative;
	  transition: all 300ms ease-in-out;
}

.navbar-toggle.active .mcbar-sup {
	  top: 6px;
	  transform: rotate(45deg);
}

.navbar-toggle.active .mcbar-med {
	  background-color: transparent;
	  transform: rotate(-45deg);
}

.navbar-toggle.active .mcbar-inf {
	  top: -6px;
	  transform: rotate(-45deg);
}

.cubecontainer {
	position: relative;
	margin: 200px auto;
	width: 200px;
	height: 200px;
	perspective: 500px;
}

.cube {
	width: inherit;
	height: inherit;
	transform-style: preserve-3d;
}

.cubeside {
	position: absolute;
	width: inherit;
	height: inherit;
	font: normal 70px Arial;
	text-align: center;
	line-height: 300px;
  border: 4px solid black;
}

.sidefront {
	transform: translateZ(150px);
}

.sideback {
	transform: rotateY(180deg) translateZ(150px);
}

.sideright {
	transform: rotateY(90deg) translateZ(150px);
}

.sideleft {
	transform: rotateY(-90deg) translateZ(150px);
}

.sidetop {
	transform: rotateX(90deg) translateZ(150px);
}

.sidebottom {
	transform: rotateX(-90deg) translateZ(150px);
}

.cube {-webkit-animation: anim2 ease-in-out 3s infinite alternate; }
@-webkit-keyframes anim2
{
   from {-webkit-transform: rotateY(0deg) rotateX(0deg)  }
   to   {-webkit-transform: rotateY(360deg) rotateX(90deg)}
}