body { 
	padding-top: 70px;
	background:url('/resources/images/textureBackground.png') repeat 0 0;  
}

.mcapp-navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
}

.mcapp-header {
	position: relative;
}

.navbar-toggle .mcbar {
	  position: relative;
	  transition: all 300ms ease-in-out;
}

.navbar-toggle.active .mcbar-sup {
	  top: 6px;
	  transform: rotate(45deg);
}

.navbar-toggle.active .mcbar-med {
	  background-color: transparent;
	  transform: rotate(-45deg);
}

.navbar-toggle.active .mcbar-inf {
	  top: -6px;
	  transform: rotate(-45deg);
}